// Here you can add other styles
.form-control {
    height: calc(2.5em + 0.75rem + 2px);
    
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-weight: 400;
}
#search{
    width: 30%;
    margin-top: -39px;
    margin-left: 245px;
}
.table th, .table td {
    font-size: 14px;
}
